/* Desktop Styles*/
:root{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 62.5%;
}
  
*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
}

header{
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 1px rgb(150, 150, 150);
}

.toggle-button-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.header-title{
    margin: 1rem;
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title img{
    max-height: 4.5rem;
    width: auto;
    border-radius: 5px;
}

.navbar-links{
    display: flex;
    margin-right: 3rem;
    background-color: white;
}

.navbar-links li{
    list-style: none;
    font-size: 2rem;
    text-align: center;
}

.navbar-links li a{
    text-decoration: none;
    color: black;
    padding: 1.25rem;
    display: block;
}

.navbar-links li:hover{
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
}

.header-toggle-button{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 23px;
    margin-right: 3.5rem;
}

.header-toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 18rem;
    margin-top: 0;
    margin-bottom: 5rem;
}

.title-container{
    display: flex;
    flex-direction: column;
    padding: 18rem;
    padding-top: 0.5rem;
    padding-bottom: 0;
    background-color: lightgrey;
    margin-top: 0.1rem;
}

.title{
    font-size: 6rem;
}

.website-info{
    align-self: stretch;
    font-size: 1.6rem;
    color: rgb(80, 80, 80);
    margin-top: 0.5rem;
    padding-bottom: 1.5rem;
}

article{
    font-size: 1.8rem;
    margin-top: 1rem;
    align-self: stretch;
}

.article-space{
    margin-top: 1rem;
}

.item-container{
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    font-size: 1.5rem;
    margin-top: 2rem;
    align-self: stretch;
    box-shadow: 0px 0px 10px rgb(175, 175, 175);
    padding: 1rem;
    padding-left: 0;
    border: 1px solid black;
}

.item-name-container{
    text-align: center;
    padding: 1rem;
    padding-top: 1rem;
    border-right: 1.5px solid black;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item-name{
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

.item-name-container img{
    max-width: 60%;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.item-name-container form{
    width: 70%;
}

.item-name-container button{
    margin-top: 0rem;
    padding: 0.85rem;
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1.6rem;
}

.item-name-container button:hover{
    opacity: 0.7;
    cursor: pointer;
}

.item-description-container{
    display: flex;
    flex-direction: column;
}

.item-description{
    font-size: 1.5rem;
    padding-left: 3rem;
    margin-top: 1.75rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
    border-bottom: black 1.5px solid;
}

.pros-cons-container{
    display: flex;
    margin-right: 3rem;
    justify-content: space-between;
}

.pros{
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.approximation{
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.approx-space{
    margin-top: 0.5rem;
}

.ending-article{
    margin-top: 3rem;
}

.disclaimer{
    font-size: 1.6rem;
}

footer{
    background-color: rgb(200, 200, 200);
    display: flex;
    font-size: 1.6rem;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
}

.footer-logo{
    max-height: 4.5rem;
    width: auto;
    border-radius: 5px;
}

.footer-header{
    padding-bottom: 0.25rem;
    border-bottom: 1.5px solid black;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-container a{
    text-decoration: none;
    color: black;
}

/* Mobile Styles*/
@media (max-width: 525px){
    header{
        background-color: transparent;
    }

    .header-title img{
        max-height: 4.25rem;
        padding: .125rem;
    }

    .header-toggle-button{
        display: flex;
        margin-right: 2rem;
    }
    
    .navbar-links{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 6.25rem;
        position: absolute;
        margin-right: 0;
    }

    .navbar-links li{
        width: 95%;
        font-size: 1.9rem;
        margin-left: 1rem;
    }

    .navbar-links li a{
        padding: 1.75rem;
        padding-left: 1rem;
    }

    .header-title{
        margin-left: 1rem;
    }

    header{
        flex-direction: column;
        align-items: flex-start;
    }


    .active{
        display: flex;
        padding-bottom: 1vh;
        box-shadow: 1px 1px 1px rgb(150, 150, 150);

        animation: expand 200ms ease-in-out;
        transform-origin: top;
    }

    .active-reverse {
        display: flex;
        animation: expand-reverse 200ms ease-in-out;
        transform-origin: top;
    }

    @keyframes expand {
        0% {
          transform: scaleY(0);
        }
        
        100% {
          transform: scaleY(1);
        }
    }

    @keyframes expand-reverse {
        0% {
            transform: scaleY(1);
        }
    
        100% {
            transform: scaleY(0);
        }
    }

    main{
        margin: 2rem;
        margin-top: 1rem;
    }

    .title-container{
        padding: 2rem;
        padding-top: 1.5rem;
    }

    .title{
        font-size: 3.25rem
    }

    .website-info{
        padding-bottom: 0;
        font-size: 1.3rem;
    }

    .item-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding-right: 0;
    }

    .item-name-container{
        border: none;
    }

    .item-name{
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    .pros-cons-container{
        margin-right: 0;
        flex-direction: column;
        gap: 0;
    }

    .pros{
        border: none;
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .approximation{
        padding-right: 3rem;
    }

    .item-description{
        border: none;
        padding: 0;
        margin: 0;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 1rem;
    }

    .item-name-container img{
        margin: 0;
        max-width: 20rem;
    }

    .item-name-container form{
        width: 20rem;
    }

    .item-name-container button{
        margin-top: 1.5rem;
        font-size: 1.8rem;
        padding: 1rem;
    }

    .main-article{
        margin-bottom: 1rem;
    }

    footer{
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }
}

/* Small Tablet Styles*/
@media (min-width: 525px) and (max-width: 875px){
    main{
        margin: 2rem;
        margin-top: 1rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .title-container{
        padding: 2rem;
        padding-top: 1.5rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .title{
        font-size: 4rem
    }

    .website-info{
        padding-bottom: 0;
        font-size: 1.3rem;
    }

    .item-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding-right: 0;
    }

    .item-name-container{
        border: none;
    }

    .item-name{
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .pros{
        border: none;
        margin: 0;
        padding: 0;
        padding-top: 1rem;
        padding-left: 3rem;
    }

    .approximation{
        padding-right: 2rem;
    }

    .item-description{
        border: none;
        padding: 0;
        margin: 0;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 2rem;
    }

    .item-name-container img{
        margin: 0;
        max-width: 27rem;
    }

    .item-name-container form{
        width: 27rem;
        margin-bottom: 1rem;
    }

    .pros-cons-container{
        margin-bottom: 1rem;
        margin-right: 3rem;
    }

    .item-name-container button{
        margin-top: 1.5rem;
        font-size: 1.8rem;
        padding: 1rem;
    }

    .main-article{
        margin-bottom: 1rem;
    }

    footer{
        flex-direction: column;
        gap: 2.5rem;
        align-items: flex-start;
    }
}

/* Tablet Styles*/
@media (min-width: 875px) and (max-width: 1150px){
    .header-title{
        font-size: 2.4rem;
    }

    main{
        margin-left: 6rem;
        margin-right: 6rem;
    }

    .title-container{
        padding-left: 6rem;
        padding-right: 6rem;    
    }

    .title{
        font-size: 5rem;
    }  

    .item-name-container img{
        max-width: 65%;
    }

    .item-name-container form{
        width: 65%;
    }

    .related-articles{
        display: none;
    }
}

/*Desktop Styles*/
@media (min-width: 1300px){
    main{
        margin-left: 19.5rem;
        margin-right: 19.5rem;
    }

    .title-container{
        padding-left: 19.5rem;
        padding-right: 19.5rem;
    }

    .item-name-container img{
        width: 58%;
    }

    .item-name-container form{
        width: 65%;
    }
}

@media (min-width: 1350px){
    main{
        margin-left: 22rem;
        margin-right: 22rem;
    }

    .title-container{
        padding-left: 22rem;
        padding-right: 22rem;
    }
}

@media (min-width: 1400px){
    main{
        margin-left: 23.5rem;
        margin-right: 23.5rem;
    }

    .title-container{
        padding-left: 23.5rem;
        padding-right: 23.5rem;
    }

    .item-name-container img{
        width: 56%;
    }

    .item-name-container form{
        width: 65%;
    }
}

@media (min-width: 1450px){
    main{
        margin-left: 26rem;
        margin-right: 26rem;
    }

    .title-container{
        padding-left: 26rem;
        padding-right: 26rem;
    }
}

@media (min-width: 1500px){
    main{
        margin-left: 28rem;
        margin-right: 28rem;
    }

    .title-container{
        padding-left: 28rem;
        padding-right: 28rem;
    }
}

@media (min-width: 1550px){
    main{
        margin-left: 31rem;
        margin-right: 31rem;
    }

    .title-container{
        padding-left: 31rem;
        padding-right: 31rem;
    }
}

@media (min-width: 1600px){
    main{
        margin-left: 34rem;
        margin-right: 34rem;
    }

    .title-container{
        padding-left: 34rem;
        padding-right: 34rem;
    }
}

@media (min-width: 1650px){
    main{
        margin-left: 36.5rem;
        margin-right: 36.5rem;
    }

    .title-container{
        padding-left: 36.5rem;
        padding-right: 36.5rem;
    }
}

@media (min-width: 1700px){
    main{
        margin-left: 39rem;
        margin-right: 39rem;
    }

    .title-container{
        padding-left: 39rem;
        padding-right: 39rem;
    }
}

@media (min-width: 1750px){
    main{
        margin-left: 41.5rem;
        margin-right: 41.5rem;
    }

    .title-container{
        padding-left: 41.5rem;
        padding-right: 41.5rem;
    }
}

@media (min-width: 1800px){
    main{
        margin-left: 44rem;
        margin-right: 44rem;
    }

    .title-container{
        padding-left: 44rem;
        padding-right: 44rem;
    }
}

@media (min-width: 1850px){
    main{
        margin-left: 46.5rem;
        margin-right: 46.5rem;
    }

    .title-container{
        padding-left: 46.5rem;
        padding-right: 46.5rem;
    }
}

@media (min-width: 1900px){
    main{
        margin-left: 49rem;
        margin-right: 49rem;
    }

    .title-container{
        padding-left: 49rem;
        padding-right: 49rem;
    }
}

@media (min-width: 1950px){
    main{
        margin-left: 51.5rem;
        margin-right: 51.5rem;
    }

    .title-container{
        padding-left: 51.5rem;
        padding-right: 51.5rem;
    }
}

@media (min-width: 2000px){
    main{
        margin-left: 54rem;
        margin-right: 54rem;
    }

    .title-container{
        padding-left: 54rem;
        padding-right: 54rem;
    }
}

@media (min-width: 2050px){
    main{
        margin-left: 55.5rem;
        margin-right: 55.5rem;
    }

    .title-container{
        padding-left: 55.5rem;
        padding-right: 55.5rem;
    }
}

@media (min-width: 2100px){
    main{
        margin-left: 57rem;
        margin-right: 57rem;
    }

    .title-container{
        padding-left: 57rem;
        padding-right: 57rem;
    }
}

@media (min-width: 2150px){
    main{
        margin-left: 60rem;
        margin-right: 60rem;
    }

    .title-container{
        padding-left: 60rem;
        padding-right: 60rem;
    }
}

@media (min-width: 2200px){
    main{
        margin-left: 62rem;
        margin-right: 62rem;
    }

    .title-container{
        padding-left: 62rem;
        padding-right: 62rem;
    }
}

@media (min-width: 2250px){
    main{
        margin-left: 64rem;
        margin-right: 64rem;
    }

    .title-container{
        padding-left: 64rem;
        padding-right: 64rem;
    }
}

@media (min-width: 2300px){
    main{
        margin-left: 67rem;
        margin-right: 67rem;
    }

    .title-container{
        padding-left: 67rem;
        padding-right: 67rem;
    }
}

@media (min-width: 2350px){
    main{
        margin-left: 68rem;
        margin-right: 68rem;
    }

    .title-container{
        padding-left: 68rem;
        padding-right: 68rem;
    }
}

@media (min-width: 2400px){
    main{
        margin-left: 70rem;
        margin-right: 70rem;
    }

    .title-container{
        padding-left: 70rem;
        padding-right: 70rem;
    }
}

@media (min-width: 2450px){
    main{
        margin-left: 72.5rem;
        margin-right: 72.5rem;
    }

    .title-container{
        padding-left: 72.5rem;
        padding-right: 72.5rem;
    }
}

@media (min-width: 2500px){
    main{
        margin-left: 76.5rem;
        margin-right: 76.5rem;
    }

    .title-container{
        padding-left: 76.5rem;
        padding-right: 76.5rem;
    }
}

@media (min-width: 2550px){
    main{
        margin-left: 79rem;
        margin-right: 79rem;
    }

    .title-container{
        padding-left: 79rem;
        padding-right: 79rem;
    }
}

@media (min-width: 2600px){
    main{
        margin-left: 82rem;
        margin-right: 82rem;
    }

    .title-container{
        padding-left: 82rem;
        padding-right: 82rem;
    }
}

@media (min-width: 2650px){
    main{
        margin-left: 84rem;
        margin-right: 84rem;
    }

    .title-container{
        padding-left: 84rem;
        padding-right: 84rem;
    }
}

@media (min-width: 2700px){
    main{
        margin-left: 87rem;
        margin-right: 87rem;
    }

    .title-container{
        padding-left: 87rem;
        padding-right: 87rem;
    }
}

@media (min-width: 2750px){
    main{
        margin-left: 89rem;
        margin-right: 89rem;
    }

    .title-container{
        padding-left: 89rem;
        padding-right: 89rem;
    }
}

@media (min-width: 2800px){
    main{
        margin-left: 92rem;
        margin-right: 92rem;
    }

    .title-container{
        padding-left: 92rem;
        padding-right: 92rem;
    }
}

@media (min-width: 2850px){
    main{
        margin-left: 94rem;
        margin-right: 94rem;
    }

    .title-container{
        padding-left: 94rem;
        padding-right: 94rem;
    }
}

@media (min-width: 2900px){
    main{
        margin-left: 96.5rem;
        margin-right: 96.5rem;
    }

    .title-container{
        padding-left: 96.5rem;
        padding-right: 96.5rem;
    }
}

@media (min-width: 2950px){
    main{
        margin-left: 99rem;
        margin-right: 99rem;
    }

    .title-container{
        padding-left: 99rem;
        padding-right: 99rem;
    }
}

@media (min-width: 3000px){
    main{
        margin-left: 101.5rem;
        margin-right: 101.5rem;
    }

    .title-container{
        padding-left: 101.5rem;
        padding-right: 101.5rem;
    }
}

@media (min-width: 3050px){
    main{
        margin-left: 104rem;
        margin-right: 104rem;
    }

    .title-container{
        padding-left: 104rem;
        padding-right: 104rem;
    }
}

@media (min-width: 3100px){
    main{
        margin-left: 109rem;
        margin-right: 109rem;
    }

    .title-container{
        padding-left: 109rem;
        padding-right: 109rem;
    }
}

@media (min-width: 3150px){
    main{
        margin-left: 111rem;
        margin-right: 111rem;
    }

    .title-container{
        padding-left: 111rem;
        padding-right: 111rem;
    }
}

@media (min-width: 3200px){
    main{
        margin-left: 114rem;
        margin-right: 114rem;
    }

    .title-container{
        padding-left: 114rem;
        padding-right: 114rem;
    }
}

@media (min-width: 3250px){
    main{
        margin-left: 116rem;
        margin-right: 116rem;
    }

    .title-container{
        padding-left: 116rem;
        padding-right: 116rem;
    }
}

@media (min-width: 3300px){
    main{
        margin-left: 119rem;
        margin-right: 119rem;
    }

    .title-container{
        padding-left: 119rem;
        padding-right: 119rem;
    }
}

@media (min-width: 3350px){
    main{
        margin-left: 121rem;
        margin-right: 121rem;
    }

    .title-container{
        padding-left: 121rem;
        padding-right: 121rem;
    }
}

@media (min-width: 3400px){
    main{
        margin-left: 124rem;
        margin-right: 124rem;
    }

    .title-container{
        padding-left: 124rem;
        padding-right: 124rem;
    }
}

@media (min-width: 3450px){
    main{
        margin-left: 126rem;
        margin-right: 126rem;
    }

    .title-container{
        padding-left: 126rem;
        padding-right: 126rem;
    }
}

@media (min-width: 3500px){
    main{
        margin-left: 129rem;
        margin-right: 129rem;
    }

    .title-container{
        padding-left: 129rem;
        padding-right: 129rem;
    }
}

@media (min-width: 3550px){
    main{
        margin-left: 131rem;
        margin-right: 131rem;
    }

    .title-container{
        padding-left: 131rem;
        padding-right: 131rem;
    }
}

@media (min-width: 3600px){
    main{
        margin-left: 134rem;
        margin-right: 134rem;
    }

    .title-container{
        padding-left: 134rem;
        padding-right: 134rem;
    }
}

@media (min-width: 3650px){
    main{
        margin-left: 136rem;
        margin-right: 136rem;
    }

    .title-container{
        padding-left: 136rem;
        padding-right: 136rem;
    }
}

@media (min-width: 3700px){
    main{
        margin-left: 139rem;
        margin-right: 139rem;
    }

    .title-container{
        padding-left: 139rem;
        padding-right: 139rem;
    }
}

@media (min-width: 3750px){
    main{
        margin-left: 141rem;
        margin-right: 141rem;
    }

    .title-container{
        padding-left: 141rem;
        padding-right: 141rem;
    }
}

@media (min-width: 3800px){
    main{
        margin-left: 144rem;
        margin-right: 144rem;
    }

    .title-container{
        padding-left: 144rem;
        padding-right: 144rem;
    }
}

@media (min-width: 3850px){
    main{
        margin-left: 146rem;
        margin-right: 146rem;
    }

    .title-container{
        padding-left: 146rem;
        padding-right: 146rem;
    }
}

@media (min-width: 3900px){
    main{
        margin-left: 149rem;
        margin-right: 149rem;
    }

    .title-container{
        padding-left: 149rem;
        padding-right: 149rem;
    }
}

@media (min-width: 3950px){
    main{
        margin-left: 151rem;
        margin-right: 151rem;
    }

    .title-container{
        padding-left: 151rem;
        padding-right: 151rem;
    }
}

@media (min-width: 4000px){
    main{
        margin-left: 154rem;
        margin-right: 154rem;
    }

    .title-container{
        padding-left: 154rem;
        padding-right: 154rem;
    }
}

@media (min-width: 4050px){
    main{
        margin-left: 156rem;
        margin-right: 156rem;
    }

    .title-container{
        padding-left: 156rem;
        padding-right: 156rem;
    }
}

@media (min-width: 4100px){
    main{
        margin-left: 158rem;
        margin-right: 158rem;
    }

    .title-container{
        padding-left: 158rem;
        padding-right: 158rem;
    }
}

@media (min-width: 4150px){
    main{
        margin-left: 160rem;
        margin-right: 160rem;
    }

    .title-container{
        padding-left: 160rem;
        padding-right: 160rem;
    }
}

@media (min-width: 4300px){
    main{
        margin-left: 208rem;
        margin-right: 208rem;
    }

    .title-container{
        padding-left: 208rem;
        padding-right: 208rem;
    }
}